.elsie{
display: flex;
font-size: 2rem;
flex-wrap: wrap;
gap:1.5rem;
margin: 10px;
}
.rose{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.elsie img{
  height: 350px;
}
