.shop{
display: flex;
flex-wrap: wrap;
gap:1.5rem;
}
.shop{
  margin-top:: 70px;
}
.shop{
  margin: 70px 0;
}
.shop{
display: flex;
flex-wrap: wrap;
gap:1.5rem

}
.shop {
  margin-top:: 20px;
}
.shop{
  margin: 70px 0;
}
.shop{
  height: 350px;
}
.ni{
  text-align: center;
font-size: 2rem;
}
